.header{
  background: url("assets/img/background.jpg");
}
.person-head{
  border-radius: 10%;
}
.portfolio-item {
  background-color: white;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  
}

.portfolio-item img{
  display: block;
    object-fit: contain;
  height: 257px;
    margin: auto;
    flex: 0 1 225px;
    padding: 10px;
    border-radius: 10px;
}

.input-group{
  padding: 20px 0;
}

#numberError,
#nameError,
#emailError{
  display: none;
  width: fit-content;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 12px;
  padding: 2px 4px;
  background-color: aquamarine;
  color: rgb(0, 0, 0);
}
